<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${venue}">venue</p>
<span th:if="${showNextPrev}">
    <a th:href="@{${next}}"><input type="submit" class="hide" value="Next" id="btnNext"></a>
    <a th:href="@{${prev}}"><input type="submit" class="hide" value="Prev" id="btnPrev"></a>
</span>
</body>
</html>